<p class="section-title"><u>Vision Language Model Training</u></p>
<p><b>2024</b></p>
<div class="pub-entry">
    <a href="">G-llava: Solving geometric problem with multi-modal large language model</a><br>
    Jiahui Gao, Renjie Pi, Jipeng Zhang, Jiacheng Ye, Wanjun Zhong, Yufei Wang, Lanqing Hong, Jianhua Han, Hang Xu, Zhenguo Li, Lingpeng Kong.<br>
    <i>ICLR 2024</i><br>
    [<a href="javascript:copy('div3','bib3')">bib</a>]<br>
    <div id="div3"></div><div id="bib3" style="display:none">
        <div class="bib">
<pre>
</pre>
        </div>
    </div>
</div>

<div class="pub-entry">
    <a href="">Image Textualization: An Automatic Framework for Creating Accurate and Detailed Image Descriptions</a><br>
    Renjie Pi, Jianshu Zhang, Jipeng Zhang, Rui Pan, Zhekai Chen, Tong Zhang.<br>
    <i>NeurIPS 2024</i><br>
    [<a href="javascript:copy('div4','bib4')">bib</a>]<br>
    <div id="div4"></div><div id="bib4" style="display:none">
        <div class="bib">
<pre>
</pre>
        </div>
    </div>
</div>

<div class="pub-entry">
    <a href="">Strengthening Multimodal Large Language Model with Bootstrapped Preference Optimization</a><br>
    Renjie Pi, Tianyang Han, Wei Xiong, Jipeng Zhang, Runtao Liu, Rui Pan, Tong Zhang.<br>
    <i>ECCV 2024</i><br>
    [<a href="javascript:copy('div5','bib5')">bib</a>]<br>
    <div id="div5"></div><div id="bib5" style="display:none">
        <div class="bib">
<pre>
</pre>
        </div>
    </div>
</div>

<div class="pub-entry">
    <a href="">VL-GenRM: Enhancing Vision-Language Verification via Vision Experts and Iterative Training</a><br>
    Jipeng Zhang, Kehao Miao, Renjie Pi, Runtao Liu, Zhaowei Wang, Rui Pan, Tong Zhang.<br>
    <i>on submission</i><br>
    [<a href="javascript:copy('div6','bib6')">bib</a>]<br>
    <div id="div6"></div><div id="bib6" style="display:none">
        <div class="bib">
<pre>
</pre>
        </div>
    </div>
</div>

<p><b>2023</b></p>
<div class="pub-entry">
    <a href="">X2-VLM: All-In-One Pre-trained Model For Vision-Language Tasks</a><br>
    Yan Zeng, Xinsong Zhang, Hang Li, Jiawei Wang, Jipeng Zhang, Wangchunshu Zhou.<br>
    <i>TPAMI 2023</i><br>
    [<a href="javascript:copy('div7','bib7')">bib</a>]<br>
    <div id="div7"></div><div id="bib7" style="display:none">
        <div class="bib">
<pre>
</pre>
        </div>
    </div>
</div>

<div class="pub-entry">
    <a href="">Toward Building General Foundation Models for Language, Vision, and Vision-Language Understanding Tasks</a><br>
    Xinsong Zhang, Yan Zeng, Jipeng Zhang, Hang Li.<br>
    <i>EMNLP 2023</i><br>
    [<a href="javascript:copy('div8','bib8')">bib</a>]<br>
    <div id="div8"></div><div id="bib8" style="display:none">
        <div class="bib">
<pre>
</pre>
        </div>
    </div>
</div>

<div class="pub-entry">
    <a href="">UniMath: A Foundational and Multimodal Mathematical Reasoner</a><br>
    Zhenwen Liang, Tianyu Yang, Jipeng Zhang, Xiangliang Zhang.<br>
    <i>EMNLP 2023</i><br>
    [<a href="javascript:copy('div9','bib9')">bib</a>]<br>
    <div id="div9"></div><div id="bib9" style="display:none">
        <div class="bib">
<pre>
</pre>
        </div>
    </div>
</div>

<p class="section-title"><u>Reinforcement Learning and Agent</u></p>
<p><b>2024</b></p>
<div class="pub-entry">
    <a href="">Mitigating the Alignment Tax of RLHF</a><br>
    Yong Lin, Hangyu Lin, Wei Xiong, Shizhe Diao, Jianmeng Liu, Jipeng Zhang, Rui Pan, Haoxiang Wang, Wenbin Hu, Hanning Zhang, Hanze Dong, Renjie Pi, Han Zhao, Nan Jiang, Heng Ji, Yuan Yao, Tong Zhang.<br>
    <i>EMNLP 2024</i><br>
    [<a href="javascript:copy('div10','bib10')">bib</a>]<br>
    <div id="div10"></div><div id="bib10" style="display:none">
        <div class="bib">
<pre>
</pre>
        </div>
    </div>
</div>

<div class="pub-entry">
    <a href="">Strengthening Multimodal Large Language Model with Bootstrapped Preference Optimization</a><br>
    Renjie Pi, Tianyang Han, Wei Xiong, Jipeng Zhang, Runtao Liu, Rui Pan, Tong Zhang.<br>
    <i>ECCV 2024</i><br>
    [<a href="javascript:copy('div11','bib11')">bib</a>]<br>
    <div id="div11"></div><div id="bib11" style="display:none">
        <div class="bib">
<pre>
</pre>
        </div>
    </div>
</div>

<div class="pub-entry">
    <a href="">VL-GenRM: Enhancing Vision-Language Verification via Vision Experts and Iterative Training</a><br>
    Jipeng Zhang, Kehao Miao, Renjie Pi, Runtao Liu, Zhaowei Wang, Rui Pan, Tong Zhang.<br>
    <i>arxiv 2025</i><br>
    [<a href="javascript:copy('div12','bib12')">bib</a>]<br>
    <div id="div12"></div><div id="bib12" style="display:none">
        <div class="bib">
<pre>
</pre>
        </div>
    </div>
</div>

<div class="pub-entry">
    <a href="">ExeSQL: Self-Taught Text-to-SQL Models with Execution-Driven Bootstrapping for SQL Dialects</a><br>
    Jipeng Zhang, Haolin Yang, Kehao Miao, Ruiyuan Zhang, Renjie Pi, Jiahui Gao, Xiaofang Zhou.<br>
    <i>arxiv 2025</i><br>
    [<a href="javascript:copy('div13','bib13')">bib</a>]<br>
    <div id="div13"></div><div id="bib13" style="display:none">
        <div class="bib">
<pre>
</pre>
        </div>
    </div>
</div>

<p><b>2023</b></p>
<div class="pub-entry">
    <a href="">Raft: Reward ranked finetuning for generative foundation model alignment</a><br>
    Hanze Dong, Wei Xiong, Deepanshu Goyal, Rui Pan, Shizhe Diao, Jipeng Zhang, Kashun Shum, Tong Zhang.<br>
    <i>TMLR 2023</i><br>
    [<a href="javascript:copy('div14','bib14')">bib</a>]<br>
    <div id="div14"></div><div id="bib14" style="display:none">
        <div class="bib">
<pre>
</pre>
        </div>
    </div>
</div>

<div class="pub-entry">
    <a href="">DetGPT: Detect What You Need via Reasoning</a><br>
    Renjie Pi, Jiahui Gao, Shizhe Diao, Rui Pan, Hanze Dong, Jipeng Zhang, Lewei Yao, Jianhua Han, Hang Xu, Lingpeng Kong, Tong Zhang.<br>
    <i>EMNLP 2023</i><br>
    [<a href="javascript:copy('div15','bib15')">bib</a>]<br>
    <div id="div15"></div><div id="bib15" style="display:none">
        <div class="bib">
<pre>
</pre>
        </div>
    </div>
</div>

<p class="section-title"><u>Pretraining and Training Methods/Frameworks for LLMs/VLMs</u></p>
<p><b>2024</b></p>
<div class="pub-entry">
    <a href="">Fox Foundation Model: A Pioneering Small Language Model (SLM) for Cloud and Edge</a><br>
    Zijian Hu*, Jipeng Zhang*, Rui Pan*, Zhaozhuo Xu, Shanshan Han, Han Jin, Alay Dilipbhai Shah, Dimitris Stripelis, Yuhang Yao, Salman Avestimehr, Chaoyang He, Tong Zhang.<br>
    <i>arXiv 2024</i><br>
    [<a href="javascript:copy('div16','bib16')">bib</a>]<br>
    <div id="div16"></div><div id="bib16" style="display:none">
        <div class="bib">
<pre>
</pre>
        </div>
    </div>
</div>

<div class="pub-entry">
    <a href="">Lmflow: An extensible toolkit for finetuning and inference of large foundation models</a><br>
    Shizhe Diao, Rui Pan, Hanze Dong, Ka Shun Shum, Jipeng Zhang, Wei Xiong, Tong Zhang.<br>
    <i>NAACL 2024 best demo paper</i><br>
    [<a href="javascript:copy('div17','bib17')">bib</a>]<br>
    <div id="div17"></div><div id="bib17" style="display:none">
        <div class="bib">
<pre>
</pre>
        </div>
    </div>
</div>

<p class="section-title"><u>LLM Data Techniques</u></p>
<p><b>2025</b></p>
<div class="pub-entry">
    <a href="">TAGCOS: Task-Agnostic Gradient Clustered Coreset Selection</a><br>
    Jipeng Zhang*, Yaxuan Qin*, Renjie Pi*, Weizhong Zhang, Rui Pan, Tong Zhang.<br>
    <i>NAACL 2025</i><br>
    [<a href="javascript:copy('div18','bib18')">bib</a>]<br>
    <div id="div18"></div><div id="bib18" style="display:none">
        <div class="bib">
<pre>
</pre>
        </div>
    </div>
</div>

<div class="pub-entry">
    <a href="">Bridge-Coder: Unlocking LLMs' Potential to Overcome Language Gaps in Low-Resource Code</a><br>
    Jipeng Zhang*, Jianshu Zhang*, Yuanzhe Li*, Renjie Pi, Rui Pan, Runtao Liu, Ziqiang Zheng, Tong Zhang.<br>
    <i>ACL 2025</i><br>
    [<a href="javascript:copy('div19','bib19')">bib</a>]<br>
    <div id="div19"></div><div id="bib19" style="display:none">
        <div class="bib">
<pre>
</pre>
        </div>
    </div>
</div>

<div class="pub-entry">
    <a href="">An Improved Autoregressive Evaluation Paradigm for Large Language Models</a><br>
    Jipeng Zhang*, Rui Pan*, Yuzheng Hu*, Kashum Shum, Guanyu Yao, Xiang Liu, Renjie Pi, Hanze Dong, Shizhe Diao, Yong Lin, Han Zhao, Tong Zhang.<br>
    <i>TIST 2025</i><br>
    [<a href="javascript:copy('div20','bib20')">bib</a>]<br>
    <div id="div20"></div><div id="bib20" style="display:none">
        <div class="bib">
<pre>
</pre>
        </div>
    </div>
</div>

<div class="pub-entry">
    <a href="">ScaleBiO: Scalable Bilevel Optimization for LLM Data Reweighting</a><br>
    Rui Pan, Dylan Zhang, Hanning Zhang, Xingyuan Pan, Minrui Xu, Jipeng Zhang, Renjie Pi, Xiaoyu Wang, Tong Zhang.<br>
    <i>ACL 2025</i><br>
    [<a href="javascript:copy('div21','bib21')">bib</a>]<br>
    <div id="div21"></div><div id="bib21" style="display:none">
        <div class="bib">
<pre>
</pre>
        </div>
    </div>
</div>

<p class="section-title"><u>Reasoning</u></p>
<p><b>2024</b></p>
<div class="pub-entry">
    <a href="">TheoremLlama: Transforming General-Purpose LLMs into Lean4 Experts</a><br>
    Ruida Wang*, Jipeng Zhang*, Yizhen Jia*, Rui Pan, Shizhe Diao, Renjie Pi, Tong Zhang.<br>
    <i>EMNLP 2024</i><br>
    [<a href="javascript:copy('div22','bib22')">bib</a>]<br>
    <div id="div22"></div><div id="bib22" style="display:none">
        <div class="bib">
<pre>
</pre>
        </div>
    </div>
</div>
<p><b>2020</b></p>
<div class="pub-entry">
    <a href="">Graph-to-Tree Learning for Solving Math Word Problems</a><br>
    Jipeng Zhang*, Lei Wang*, Roy Ka-Wei Lee, Yi Bin, Yan Wang, Jie Shao, Ee-Peng Lim.<br>
    <i>ACL 2020</i><br>
    [<a href="javascript:copy('div23','bib23')">bib</a>]<br>
    <div id="div23"></div><div id="bib23" style="display:none">
        <div class="bib">
<pre>
</pre>
        </div>
    </div>
</div>
<p><b>2022</b></p>
<div class="pub-entry">
    <a href="">MWP-BERT: Numeracy-Augmented Pre-Training for Math Word Problem Solving</a><br>
    Zhenwen Liang, Jipeng Zhang, Lei Wang, Wei QIN, Yunshi Lan, Jie Shao, Xiangliang Zhang.<br>
    <i>NAACL 2022</i><br>
    [<a href="javascript:copy('div24','bib24')">bib</a>]<br>
    <div id="div24"></div><div id="bib24" style="display:none">
        <div class="bib">
<pre>
</pre>
        </div>
    </div>
</div>